:root {
  --theme-font-color: black;
  --theme-box-color: #e3e8e7;
  --theme-title-box-color: #e8edd1;
  --theme-boxBorder-color:#9ba3a8;
  --theme-font-size: 125%;
}

#outer-frame {
	display: flex;
	border: 3px solid;
	height: 800px;
	width: 400px;
	resize: both;
	overflow:auto;
	flex-direction: column;
	padding: 0px;
}
.box {
	border: 1px solid;
	margin: 0.5em;
	background-color: var(--theme-boxBorder-color);
}
.input-container {
	display: flex;
	font-size: 1em;
	margin: 0.5em;
	
}

#counter_div {
	margin:0.5em;
}

#status_container {
	margin:0.5em;
}
			
#message-input-container {
	margin:0.5em;
	

}
#message-style {
	width: 100%;
	min-height: 10em; 
	         
}
#submit-container {
	margin:0.5em;

}
.marker {
	display: inline-block;
	float: left;
	clear: left;
	width: 5em;
	text-align: right;
	margin-right: 0.5em;
	line-height: 24px;
}

#name-field {
	width: 100%;
}
#email-field {
	width: 100%;
}
.error{
	color: red; 
	margin-left: 5px;
}
.input-style {
	width: 100%;
}
#submit {
	width: 100%;

}
#top-box {
	margin-bottom: 0;
	background-color: var(--theme-box-color);
}
#bot-box {
	flex: 1;
	overflow-y: scroll;  
	background-color: var(--theme-box-color);

}
#title-box {
	text-align: center;
	margin-bottom: 0;
	background-color: var(--theme-title-box-color);
}
#title-container{
	display:flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
}

#name-linked{
}

#date{
}

.message-container {
border: 1px solid;
padding: 0.5em;
margin: 0.5em;
color:var(--theme-font-color);
font-size: var(--theme-font-size);  
background-color:;
}

#message-style {
	resize: vertical;
	max-height: 200px;  
}
#footer {
	text-align: center;
}
 
 /** Admin css */
 #adform-container {
	max-width:800px;
	width:100%;
	margin:auto;
	align-items: center;
}
#header {
	background:#ddc6b6;
	width:100%;
	height:55px;
	margin:0 auto;
	vertical-align:middle;
	text-align: center;
}


body#admin-body {
  font-family:"Times New Roman", Times, serif;
  background-color: #492004 ;
  color:#492004;
 
}

#admin-form2 {
	background:#ddc6b6 ;
	padding:25px;
	height: 600px; 
	margin:10 auto;
}

#admin-form2 input[type="text"]

 {
    margin: 0 0 10px;
	padding: 0;
	width: 20%;
	height: 30px;
}
#adsave {
	cursor:pointer;
	width:100%;
	margin:0 0 5px;
	padding:10px;
	
}

#adsave :hover {
	background:#ddc6b5; 	
}

.adbox{
 border: solid black 1px;
 margin:0 0 5px;
 padding:10px;
}

