#outer-frame {
	display: flex;
	border: 3px solid;
	height: 800px;
	width: 400px;
	resize: both;
	overflow:auto;
	flex-direction: column;
	padding: 0px;
}
.box {
	border: 1px solid;
	margin: 0.5em;
}
.input-container {
	display: flex;
	font-size: 1em;
	margin: 0.5em;
}

#counter_div {
	margin:0.5em;
}

#status_container {
	margin:0.5em;
}
			
#message-input-container {
	margin:0.5em;
}
#message-style {
	width: 100%;
	min-height: 10em;            
}
#submit-container {
	margin:0.5em;

}
.marker {
	display: inline-block;
	float: left;
	clear: left;
	width: 5em;
	text-align: right;
	margin-right: 0.5em;
	line-height: 24px;
}

#name-field {
	width: 100%;
}
#email-field {
	width: 100%;
}
.error{
	color: red; 
	margin-left: 5px;
}
.input-style {
	width: 100%;
}
#submit {
	width: 100%;
}
#top-box {
	margin-bottom: 0;
}
#bot-box {
	flex: 1;
	overflow-y: scroll;
	margin-bottom: 0;
}
#title-box {
	text-align: center;
	margin-bottom: 0;
}
#title-container{
	display:flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
}

#name-linked{
}

#date{
}

.message-container {
	border: 1px solid;
	padding: 0.5em;
	margin: 0.5em;
}

#message-style {
	resize: vertical;
	max-height: 200px;  
}
#footer {
	text-align: center;
	border: none;

}
#page-select-container {
	display:flex;
	flex-direction: row;
}
#back-page-link {
	flex-grow: 1;
}

#next-page-link {
	flex-grow: 1;
}